a { color:black; 
    &:hover { color:black; text-decoration:none; }
}
.text-grey { color:#aaaaaa; }
.side-menu {
    ul {
        list-style: none;
        padding: 0;
    }
    li { width:100%; margin-bottom:10px;
        a {
            color:black;
            display: block;
            padding: 6px 10px;
            text-decoration: none;
         }
        //  &:hover { background-color: #efefef;}
        &:last-child { margin-bottom:0; }
    }
}
table {
    td {
        
    }
}


	